body {
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    background-color:#4c9ddf;
    background-image:url(圖片資料/背景.png);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.login {
    background-color: #fcce02;
    width: 400px;
    padding: 35px;
    box-shadow: 10px 10px 25px #00000080;
    text-align: center;
    border-radius: 22px;
}

.login input[type="text"], .login input[type="password"], .login input[id="confirm"]{
    display: block;
    margin: 20px auto;
    background: none;
    padding: 8px;
    font-size: 15px;
    border-radius: 22px;
    outline: none;
}

.login input[type="text"], .login input[type="password"]{
    border: 2px solid #0c4d83;
    width: 220px;
}
.login input[id="confirm"]{
    width: 120px;
    border: 2px solid #1958e0;
    cursor: pointer;
}

.login input[id="confirm"]:hover{
    color: #ffffff;
    background-color: #1958e0;
    width: 180px;
    transition: 0.5s;
}